.header-nav {
    background: $base-color;

    &__items span {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .selected {
        background:darken($base-color, 30);
    }
    
    &__items  a {
        display: block;
        color: #000;
        padding: 1rem;
    }
    
    &__items  a:hover {
    background:  darken($base-color,20);
    }
   
  
}


