body {
    font-family:'Concert One', cursive;
   
    background: lighten($base-color, 20);
    @at-root a {
      font-weight: bold;
      text-decoration: none;
      color: $link-color;
  
      &:hover {
        text-decoration: underline;
      }
    }
}