$font-size: 0.75rem;
$base-color: $light-purple;
$font-size-large: $font-size * 1.4;
$link-color: lighten($base-color, 10);
$border-radius: 8px;

$icon-size-small: 1rem;
$icon-size-normal: 1.2rem;
$icon-size-large: 1.4rem;