@keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }
    100% {
      transform: skewY(-45deg) translateX(12.5em);
    }
  }
.no-orders {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.orders-container {
    padding: 1rem;
    margin: 2rem;
    
    .orders-table {
        border-collapse: collapse;
        width:100%;

        & thead tr:first-child th{
            font-weight: bold;
        }

       & th ,td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color:#f5f5f5;
        }
    }

    .proceed-buttons {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 2rem;
    }

    .proceed {
        padding: 0.45em 0.5em;
        text-align: center;
        text-decoration: none;
        color:#2A672B;
        border: 2px solid #2A672B;
        font-size: 18px;
        display: inline-block;
        border-radius: 0.3em;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;
        outline: none;
   
        &:before {
            content: "";
            background-color: rgba(255,255,255,0.5);
            height: 100%;
            width: 3em;
            display: block;
            position: absolute;
            top: 0;
            left: -4.5em;
            transform: skewX(-45deg) translateX(0);
            transition: none;
        }
        &:hover {
            background-color: #2A672B;
            color: #fff;
            border-bottom: 4px solid darken(#2A672B, 10%);
            cursor: pointer;
            &:before {
                transform: skewX(-45deg) translateX(13.5em);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}